.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; // Ensure the popup is on top
}

.popup {
    position: relative; // Make the popup relative to position the close button
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    h2 {
        margin-bottom: 20px;
        color: #26425a; // Title color
    }

    .close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: transparent;
        color: #007bff;
        border: none;
        font-size: 20px; // Adjust the size of the close button
        cursor: pointer;

        &:hover {
            color: #0056b3; // Change color on hover
        }
    }

    form {
        display: flex;
        flex-direction: column;

        input,
        select {
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;

            &:focus {
                outline: none;
                border-color: #66A8CF; // Change border color on focus
            }
        }

        button {
            padding: 10px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #0056b3; // Darker blue on hover
            }
        }
    }
}