.filter-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;

  input[type="text"] {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;

    &:focus {
      outline: none;
      border-color: #66a8cf;
      box-shadow: 0 0 5px rgba(102, 168, 207, 0.5);
    }

    &::placeholder {
      color: #999;
    }
  }

  label {
    font-size: 1rem;
    color: #333;
    margin-right: 0.5rem;
  }

  select {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;

    &:focus {
      outline: none;
      border-color: #66a8cf;
      box-shadow: 0 0 5px rgba(102, 168, 207, 0.5);
    }

    option {
      font-size: 1rem;
      padding: 0.5rem;
    }
  }

  .addBtn {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: var(--primary-color);
    color: var(--text-color);
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;

  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;

    &:last-child {
      gap: 8px;
      justify-content: center;
      display: flex;
    }
    button {
      padding: 10px;
    }
  }

  th {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #f1f1f1;
  }
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
  width: 500px;
  max-height: 80%;
  overflow: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.popup table {
  width: 100%;
  border-collapse: collapse;
}

.popup th,
.popup td {
  border: 1px solid #ddd;
  padding: 8px;
}

.popup th {
  background-color: #f4f4f4;
}
